<% provide(:title, "Home") %>

<div class="mainCont">
<%= image_tag("art.png", alt: "Welcome Art Logo", :class => "welcomeIm") %>


<h1>Welcome to Yellow Bellies Art Supplies.</h1>
<br>
<br>
<br>
<p>We stock a range of art supplies for beginners and professional artists alike. Please consider buying from us, especially during these tough times. Shop Local. </p>
<br>
<br>
<br>
<br>
</div>