<% provide(:title, "Profile") %>
<h1>StaticPages#profile</h1>
<p>Find me in app/views/static_pages/profile.html.erb</p>
<br>
<br>
<p> You are now logged in. </p>
<p>Edit your profile</p>
<p>View order history</p>