/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.headSec {
    background: url("/assets/Site/ArtSuppliesBanner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 10px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;

}


.headSec h1 {
    color: #ffffff;
    font-size: 80px;
    padding: 15px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;

}

.mainCont {

    margin: auto;
    width: 95%;
    border: 3px solid #333333;
    padding: 10px;
    text-align: center;
}

.welcomeIm {
    width: 30%;
}

.foot {
    min-height: 80px;
    background-color: #333333;
    width: 100%;
    margin-top: 10px;
    overflow: auto;


}

.container {
    background: url("/assets/Site/paintbrushes.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    min-height: 700px;
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #d58589;
}

/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* require_tree .
*= require cart
*= require_self
*/
